<!DOCTYPE html>
{% load static %}
{% block content %}
{% include 'html/header.html' %}

<div class="container">
            <!--grid--><br><br>
    <br>
            <div class="grid-form">
                <div class="grid-form1">
                    <br>
                    <h2 id="forms-example" class=""> Registration Form</h2>
                    <form action="adddownload" method="post" enctype="multipart/form-data">
                        {% csrf_token %}


                        
                        <div class="form-group">
                          <label for="exampleInputPassword1"></label>
                          <input type="text" class="form-control" id="exampleInputPassword1" name="password"
                                 placeholder="Enter file encyption password"  required>

                      </div>
                     
                        <div class="form-group">
                            <label for="exampleInputPassword1"></label>
                            <input type="file" class="form-control" id="exampleInputPassword1" name="image"
                                   placeholder="Choose your password"  required>


                        <!-- <div class="checkbox">
                          <label>
                            <input type="checkbox"> Check me out
                          </label>
                        </div> -->
                      <center>  <button type="submit" class="btn btn-primary">Submit</button></center>
                    </form>
                </div>
            </div>
<br><br><br><br>
    </div>

{% include 'html/footer.html' %}
  {% endblock %}