{% load static %}
{% block content %}
{% include 'html/header.html' %}


<div class="container"><br>
    <div><h1 class="text-primary"> The SafeVault Mechanism </h1></div>


    <div class="page-about bg-image " style="background-image: url(../../static/assets/img/about.jpg);">
        <div class="hero-section">
          <div class="container text-center wow zoomIn">
            <span class="subhead"></span>
    
            
          </div>
        </div>
      </div>
    <div><p style="line-height: 1.6; font-size: 16px; margin-top: 20px;">🚀 How SafeVault Works? 🔐  

        <br><br>At SafeVault, we ensure secure and fraud-free transactions using advanced Machine Learning and Multi-Level Authentication. Here’s how it works! ⚡🔍  
      
        <br><br>👤 User Registration & Login  
        <br>🔹 Step 1: Users sign up with their 📧 email, 📱 phone number, and 🔒 password.  
        <br>🔹 Step 2: Login is secured with 🔑 Three-Level Authentication:  
       <br> &nbsp; &nbsp;✅Password Protection 🔏  
       <br> &nbsp; &nbsp;✅OTP Verification ✉️  
       <br> &nbsp; &nbsp;✅Image-Based Security Check 🖼️  
        
           <br><br><br>💳 Transaction Process & Fraud Detection  
           <br>🔹 Step 3: Users upload their transaction file 📂 (Credit or Debit).  
           <br>🔹 Step 4: SafeVault analyzes transactions using Machine Learning 🤖.  
           <br>🔹 Step 5: The system applies 📊 PCA (Principal Component Analysis) to extract key features from the dataset.  
           <br>🔹 Step 6: The Random Forest Algorithm predict whether a transaction is ✅ Valid or ❌ Fraudulent.  
    
           <br><br><br>📊 Admin Control & Security Measures  
           <br>👨‍💻 Admins can: 
           <br>✅ Can view the users and their feedbacks
           <br>✅ Add security images 🖼️ for verification  
           <br>✅ Retrain the fraud detection model with new datasets 📂
       
        <br><br><br>🔒 SafeVault Ensures:
        <br>✅Fraud Detection Accuracy 🎯
        <br>✅Advanced Security Measures 🛡️ 
        <br>✅Fast & Reliable Transactions ⚡ 
        <br>✅User-Friendly Interface 📱
        
        <br><br>With SafeVault, your financial security is always protected! 🔐😊
    </div>

{% include 'html/footer.html' %}
{% endblock %}