<!DOCTYPE html>
{% load static %}
{% block content %}
{% include 'html/header.html' %}

<div class="container">
            <!--grid--><br><br>
    <br>
            <div class="grid-form">
                <div class="grid-form1">
                    <br>
                    <h2 id="forms-example" class=""> update Registration Form</h2>
                    <form action="addupdate/{{result.id}}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}


                        <div class="form-group">
                            <label for="exampleInputPassword1"></label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="name" value="{{result.name}}"
                                   placeholder="Enter your Name"  required>

                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1"></label>
                          <input type="text" class="form-control" id="exampleInputPassword1" name="phone" value="{{result.phone}}"
                                 placeholder="Enter your phone" pattern="[789][0-9]{9}"required>

                      </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"></label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="email" value="{{result.email}}"
                                   placeholder="Choose Your email"  required>

                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1"></label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="password" value="{{result.password}}"
                                   placeholder="Choose your password"  required>

                                   
                                   <div class="form-group">
                                    <label for="exampleInputPassword1">Select Image category</label> 
                                    <select name="category"class="form-control">
                                      <option value="">-- Select --</option>
                                      {% for i in res %}					
                                      <option style="color:red;" value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                            </select> 

                                    
                                          

                        <!-- <div class="checkbox">
                          <label>
                            <input type="checkbox"> Check me out
                          </label>
                        </div> -->
                      <center>  <button type="submit" class="btn btn-primary">Submit</button></center>
                    </form>
                </div>
            </div>
<br><br><br><br>
    </div>

{% include 'html/footer.html' %}
  {% endblock %}